{% extends "base.html" %}
{% load static %}
{% block title %}Check Your Email{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/check-email.css' %}">
{% endblock style %}


{% block content %}
<div class="check-email-container">
  <h2 class="check-email-title">Password reset successful</h2>
  
  <p class="check-email-text">
    🎉 Password reset successful, Now you can login with new password.
  </p>

  <p class="check-email-subtext">
  <a href="{% url "login" %}">Login</a>
  </p>

 
</div>
{% endblock content %}